:root {
  --light: #E1BEE7;  /* light version of primary  */
  --dark: #7B1FA2;  /* dark version of primary */
/*  --bgcolor: #673AB7;  /* e*/
  --default: #9C27B0;  /* */
  --accent: #8BC34A;  /* */
}
body {
  font-family: 'Roboto';
  background:var(--default);
}
h2 {
  color: #fff;
  margin: 1rem 0;
}
option {
  font-family: 'Roboto';
  padding: 0.2rem;
  margin: 0 0 0.1rem 0;
}
input[type="text"], textarea[type="textarea"] {
  border: var(--light) 3px solid;
    border-radius: 0.5rem;
    padding: 0.4rem;
    outline: none;
   margin: 0 1rem 0 0rem;
}
input[type="checkbox"] {
    margin: 0 0.2rem 0 0;
}
.styleInput::selection,
.styleTextarea::selection {
  background: var(--dark);
  color: white;
}
::-moz-selection { background-color: var(--light); }
::selection { background-color: var(--light); }

select {
  font-size: 0.9rem;
   border: var(--light) 3px solid;
    border-radius: 0.5rem;
    padding: 0.4rem 0;
  color: var(--dark);
    outline: none;
  height: 7rem;
}
select option:selected {
    font-weight: 700;
}
label {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--dark);
  vertical-align: top;
  margin: 0rem 0 0rem 0;
}
.baseline label {
  vertical-align: baseline;
}

#ingrForm label {
  font-size: 0.9rem;
}
#ingrForm p {
  font-weight: 700;
  font-size: 0.9rem;
}
p {
  font-size: 1rem;
  color: var(--dark);
  display: block;
  margin-top: 0;
}
textarea {
  width: 20rem;
  height: 6rem;
  overflow: auto;
  font-family: "Roboto";
}
a {
   outline: none;
}
button[type="submit"], button[type="button"] {  
  background-color: var(--dark);
  border: 0.2rem solid var(--accent); 
  padding: 0.1rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  outline: none;
  display: inline-block;
}
button[type="submit"] {
  width: 6rem;
    height: 6rem;
    position: absolute;
    left: 12rem;
    border-radius: 12rem;
    margin: -3rem 0 1rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
button[type="button"] {
  background-color: transparent;
  border-radius: 2rem; 
  margin: 0.3rem 0 0 0;
  font-size: 0.7rem;
}
.right button {
  background-color: var(--dark);
margin: 1rem 0 0.5rem 3rem;
padding: 0.1rem;
width: 4.5rem;
height: 4.5rem;
border-radius: 9rem;
font-size: 0.7rem;
line-height: 1rem;
 letter-spacing: 0.04rem;
  font-weight: 400;
}

button#bookButton {
    margin-left: 12rem;
}
button#typeButton {
    margin-left: 6rem;
}

.menu-icon {
  margin: 0.1rem 1rem;
  height: 0.8rem;
}
.menu-text {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.inputs {
  position: relative;
  margin: 0 auto;
}

.container {
  font-weight: 400;
  background: #fff;
  border: var(--light) solid 0.5rem;
}
.container, .show {
  border-radius: 1rem;
  margin: 1.5rem 0;
  padding: 1rem;

}
.show {
   background: var(--light);
/* border: var(--default) solid 0.5rem;  */
}
.left {
  margin-bottom: 1rem;
}
.right{
  margin: 0rem 0 0rem 0rem;
}
.warning, .notify {
  height: 1rem;
  font-weight: bold;
}
.warning {
  color: #D32F2F;
}
.notify {
  color: var(--light);
}
div.show span{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark);
}
div.show p {
  line-height: 1.5rem;

}
#showStory p {
    color: white;
}
#showStory h4 {
  font-weight: 700;
  color: var(--dark);
}

#about {
  background-color: var(--accent);
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
	z-index: 10;
	position: absolute;
	right: -20rem;
	top: 7rem;
  -webkit-transform: translate(0rem, 0);
  transform: translate(0rem, 0);
  transition: transform 0.3s ease;
}
#about.slideIn{
	transform: translate(-21rem,0);
	-webkit-transform: translate(-21rem,0);
}

.title-bar {
  background: var(--dark);
  padding: 0.9rem;
  margin-top: -1rem;
  color: #ffffff;
}
.title-bar-title {
  vertical-align: top;
  margin-left: 1rem;
}
.title-bar .menu-icon {   
    border: none;
}

.top-bar {
  background:var(--dark);
  margin-top: -1rem;
}
.top-bar ul {
  background: none;
  color: #ffffff;  
}
.top-bar-right ul li {
   list-style-type: none;
   text-align: right;
   padding: 0.2rem;
   border-top: 0.1rem solid var(--default);

 }
 .top-bar-right ul {
   background: var(--default);
   border: 0.2rem solid var(--accent);
   border-radius: 2rem;   
 }  
 .top-bar-right ul li:first-child {
   border-top: none;
 }
 .top-bar ul li a {
  color: #ffffff;
 	transition: color 0.5s ease;
 }
.top-bar ul li a:hover {
  color:var(--accent);
}
li.is-submenu-item.is-accordion-submenu-item {
    background-color: #689F38;
}
.is-accordion-submenu-parent > a::after {
  border-color: #ffffff transparent transparent;
  right: 0;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}
.card-1:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  /* card-3 */
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
  }
.card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /* card-4 */
    transition: all 0.2s ease-in-out;
  }

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
  }
.card-3:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); /* card-5 */
    transition: all 0.2s ease-in-out;
  }

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
.card-inverse {
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.20), inset 0 4px 8px rgba(0,0,0,0.25);
}


  .circle {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 2rem;
    left: 20rem;
    z-index: -5;
    margin-right: 0.5rem;
    -moz-border-radius: 5rem;
    -webkit-border-radius: 5rem;
    border-radius: 5rem;
    background-color: var(--accent);
}

#iForm .circle {
  top: 0rem;
  left: -1rem;
}
.buttonContainer {
  position: relative;
  height: 3rem;
}
   

/* Small only */
@media screen and (max-width: 39.9375em) {
  h2 {
    font-size: 1.6rem;
  }
  .circle {
    left: 12rem;
  }
}   